<% content_for :page do %>
  <section class="cart">
    <h1 class="section-header starred">Cart</h1>
    <% unless @cart.items.blank? %>
      <table>
        <%= render :partial => 'cart_item', :collection => @cart.items, :as => :item %>
        <tr><td colspan="4" class="subtotal">Total: <%= number_to_currency(@cart.subtotal) %></td></tr>
      </table>
    <%= render :partial => "paypal_form" -%>
    <% else %>
      <p class="error">Your cart is empty.</p>
    <% end -%>
  </section>
<% end %>
